<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" xmlns:layout="www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}" xmlns:sec="www.thymeleaf.org/extras/spring-security">

<meta charset="UTF-8">
<title>CodeChef</title>
<!-- 전체 적용될 CSS -->
<th:block layout:fragment="css"></th:block>
<!-- 전체 적용될 스크립트 -->
<th:block layout:fragment="script"></th:block>

<!-- 우리가 작업할 공간 -->
<body>
<div layout:fragment="content" class="content">
    <!-- content 부분을 벗어나면 css 적용안됨 -->
    <link rel="stylesheet" th:href="@{/css/detail.css}">

    <!-- 배너 영역 -->
    <section class="text-center container">
        <div class="row">
            <div class="col-lg-12 mx-auto banner-container">
                <img th:src="@{${restaurant.bannerImage}}" alt="Banner Image" class="banner-img">
            </div>
        </div>
    </section>

    <!-- 식당 정보 및 메뉴 섹션 -->
    <div class="container mt-4">
        <div class="row">
            <!-- 좌측 영역: 식당 정보, 리뷰, 지도 -->
            <div class="col-md-6">
                <!-- 식당 이름 -->
                <div class="restaurant-name text-center mb-3">
                    <h2 th:text="${restaurant.resName}">식당명</h2>
                </div>

                <!-- 리뷰 영역 -->
                <div class="review-section my-4 text-center">
                    <div class="row justify-content-center">
                        <div class="col-3 text-center">
                            <p>맛</p>
                            <img src="/images/detail/tasteImage.png" alt="맛 아이콘" class="icon-img">
                            <p>
                                <img src="/images/detail/star.png" alt="별 아이콘" class="review-icon">
                                <!-- #aggregates.sum(restaurant.reviews.![tastePoint]) 작성된 리뷰의 tastePoint를 전부 더한 값 -->
                                <!-- #lists.size(restaurant.reviews) 작성된 리뷰의 사이즈를 구하여 나누기 -->
                                <span th:text="${#numbers.formatDecimal(#aggregates.sum(restaurant.reviews.![tastePoint])*1.0 / #lists.size(restaurant.reviews), 1, 1)}"></span>
                            </p>
                        </div>
                        <div class="col-3 text-center">
                            <p>분위기</p>
                            <img src="/images/detail/moodImage.png" alt="분위기 아이콘" class="icon-img">
                            <p>
                                <img src="/images/detail/star.png" alt="별 아이콘" class="review-icon">
                                <span th:text="${#numbers.formatDecimal(#aggregates.sum(restaurant.reviews.![moodPoint])*1.0 / #lists.size(restaurant.reviews), 1, 1)}"></span>
                            </p>
                        </div>
                        <div class="col-3 text-center">
                            <p>서비스</p>
                            <img src="/images/detail/serviceImage.png" alt="서비스 아이콘" class="icon-img">
                            <p>
                                <img src="/images/detail/star.png" alt="별 아이콘" class="review-icon">
                                <span th:text="${#numbers.formatDecimal(#aggregates.sum(restaurant.reviews.![servePoint])*1.0 / #lists.size(restaurant.reviews), 1, 1)}"></span>
                            </p>
                        </div>
                        <div class="col-3 d-flex justify-content-center align-items-center">
                            <a th:href="@{/review-restaurant(chefNo=${restaurant.chefNo})}" class="btn btn-outline-dark mt-2">리뷰 보기</a>
                        </div>
                    </div>
                </div>

                <!-- 예약 버튼 -->
                <div class="reservation-section text-center my-3">
                    <a th:href="@{/reservation(chefNo=${restaurant.chefNo})}" class="btn btn-lg btn-light">예약하기</a>
                </div>

                <!-- 매장 정보 -->
                <div class="store-info mt-3">
                    <h5>매장 정보</h5>
                    <p class="store-description">[[${restaurant.resExplain}]]</p>
                    <p>
                        <img src="/images/detail/mdi_location.png" alt="주소 아이콘" class="info-icon">
                        [[${restaurant.address}]]
                    </p>
                    <p id="bizHour"><img src="/images/detail/mdi_clock.png" alt="운영시간 아이콘" class="info-icon" th:utext="${restaurant.bizHour}"></p>
                    <p>
                        <img src="/images/detail/ion_restaurant-sharp.png" alt="휴무일 아이콘" class="info-icon">
                        휴무일: [[${restaurant.closedDay}]]
                    </p>
                    <p>
                        <img src="/images/detail/mingcute_phone-fill.png" alt="전화번호 아이콘" class="info-icon">
                        [[${restaurant.resPhoneNo}]]
                    </p>
                </div>

                <!-- 위치: 구글 지도 삽입 -->
                <div class="location mt-4">
                    <h5 >위치</h5><iframe th:src="@{${restaurant.resMap}}" width="500" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <p class="mt-2">
                        <img src="/images/detail/mdi_location.png" alt="주소 아이콘" class="location-icon">
                        [[${restaurant.address}]]
                    </p>
                </div>
            </div>

            <!-- 우측 영역: 메뉴 -->
            <div class="col-md-6">
                <div class="menu-section">
                    <h5>메뉴</h5>
                    <!-- 메뉴 항목 -->
                    <th:block th:each="restaurant : ${restaurant}">
                        <div th:each="menu : ${restaurant.menus}" class="menu-item mb-4 d-flex align-items-center justify-content-between">
                            <div class="menu-details">
                                <p class="menu-title mb-1" th:text="${menu.menuName}"><strong>메뉴명</strong></p>
                                <p class="menu-description mb-1" th:text="${menu.menuExplain}">메뉴 설명</p>
                                <p class="menu-price" th:text="${menu.menuPrice}"><strong>원</strong></p>
                            </div>
                            <img th:if="${not #strings.isEmpty(menu.menuImage)}" th:src="@{${menu.menuImage}}" alt="메뉴 이미지" class="menu-image">
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>