<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" xmlns:layout="www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<!--security 적용 후 아래 코드로 변경해주세요-->
<!--<html xmlns:th="www.thymeleaf.org" xmlns:layout="www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}" xmlns:sec="www.thymeleaf.org/extras/spring-security">-->
<head>
    <link rel="stylesheet" th:href="@{/css/join.css}">
    <meta charset="UTF-8">
    <title>CodeChef</title>
</head>

<!-- 전체 적용될 CSS -->
<th:block layout:fragment="css"></th:block>
<!-- 전체 적용될 스크립트 -->
<th:block layout:fragment="script"></th:block>

<!-- 우리가 작업할 공간 -->
<body>
<div layout:fragment="content" class="content">
    <div class="insert_form">
        <div class="insert">
            <p class="insert_title">회원가입</p>
        </div>
        <br>
        <br>
        <form th:action="@{/joinMember}" method="post">
            <div class="insert_layout">
                <div class="emailbox">
                    <label for="email" class="email_name">이메일</label>
                    <input type="email" id="email" name="email" placeholder="이메일을 입력해주세요">
                    <button class="duplicate_btn">중복확인</button>
                </div>
                <div class="password_box">
                    <label for="password" class="password_name">비밀번호</label>
                    <span class="comment">비밀번호는 6자리 이상으로 입력해주세요</span>
                    <input type="password" id="password" name="password" placeholder="비밀번호를 입력해주세요">
                </div>
                <div class="repassword_box">
                    <label for="passwordCheck" class="repassword_name">비밀번호 확인</label>
                    <input type="password" id="passwordCheck" name="passwordCheck" placeholder="비밀번호를 다시 입력해주세요">
                </div>
                <div class="phone_box">
                    <label for="phoneNo" class="phone_no">전화번호</label>
                    <span class="comment">전화번호는 01012345678 형식으로 입력해주세요</span>
                    <input type="text" id="phoneNo" name="phoneNo" placeholder="전화번호를 입력해주세요">
                </div>
                <div class="nicknamebox">
                    <label class="nickname">닉네임</label>
                    <input type="text" id="nickname" name="nickname" placeholder="닉네임을 입력해주세요">
                </div>
                <div>
                    <button type="submit" class="insert_btn"><span id="insert_btn">회원가입</span></button>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
</html>