<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" xmlns:layout="www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}"
      xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <meta charset="UTF-8">
    <title>CodeChef</title>
</head>

<!-- 전체 적용될 CSS -->
<th:block layout:fragment="css"></th:block>
<!-- 전체 적용될 스크립트 -->
<th:block layout:fragment="script"></th:block>

<!-- 우리가 작업할 공간 -->
<body>
<div layout:fragment="content" class="content">
<div class="login_form">
    <div class="login">
        <p class="login_name">로그인</p>
    </div>
    <br>
    <br>
    <div class="login_layout">
        <form th:action="@{/loginMember}" method="post" name="loginForm">
            <div class="emailbox">
                <label for="email" class="email_name">이메일</label>
                <input type="email" id="email" name="email" placeholder="Enter your Email">
            </div>
            <br>
            <div class="password_box">
                <label for="password" class="password_name">비밀번호</label>
                <input type="password" id="password" name="password" placeholder="Enter your password">
            </div>
            <br>
            <div >
                <button type="submit" class="login_btn"><span id="login_btn">로그인</span></button>
            </div>
        </form>
        <div th:if="${session.errorMessage}" id="errorMessage" class="alert alert-danger">
            <p th:text="${session.errorMessage}"></p>
        </div>
        <div>
            <a th:href="@{/join}"><button class="insert_btn">회원가입</button></a>
        </div>
    </div>
</div>
    <script th:src="@{/js/jQuery.js}"></script>
    <script th:inline="javascript">
        function hideErrorMessage() {
         $("#errorMessage").hide();
         fetch('/clear-error-message', { method: 'POST' });
        }

        $(document).on("click", hideErrorMessage);

        setTimeout(hideErrorMessage, 5000);
    </script>


</div>

</body>
</html>