<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" xmlns:layout="www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}" xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원정보 수정</title>
  <link rel="stylesheet" href="css/profileEdit.css">
</head>
<body>
<th:block layout:fragment="content">
  <div class="container2">
    <h1>회원수정</h1>

    <div class="profile-email">
      <div class="image_button">
        <div class="profile">
          <button><img src="" alt="프로필 이미지"> </button>
        </div>
        <input type="file" id="profileImage" name="profileImage" accept="image/*">
      </div>


      <div class="email-group">
        <label for="email">이메일 : </label>
        <input type="email" id="email" value="email" readonly>
      </div>
    </div>

    <form class="form">
      <div class="form-group">
        <label for="password">비밀번호</label>
        <small>변경할 비밀번호는 8자리 이상으로 입력해주세요</small>
        <input type="password" id="password" placeholder="비밀번호를 입력해주세요">
      </div>
      <div class="form-group">
        <label for="passwordCheck">비밀번호 확인</label>
        <input type="password" id="passwordCheck" placeholder="비밀번호를 입력해주세요">
      </div>

      <div class="form-group">
        <label for="phoneNo">전화번호</label>
        <input type="text" id="phoneNo" value="01012341234" placeholder="01011112222 형식으로 입력해 주세요">
        <small>01011112222 형식으로 입력해주세요</small>
      </div>

      <div class="form-group">
        <label for="nickname">닉네임</label>
        <input type="text" id="nickname" value="닉네임" placeholder="닉네임을 입력해주세요">
      </div>

      <button type="submit" id="updateButton" class="submit-btn">회원 수정</button>
    </form>

  </div>
</th:block>
</body>

</html>
