<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" xmlns:layout="www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<!--security 적용 후 아래 코드로 변경해주세요-->
<!--<html xmlns:th="www.thymeleaf.org" xmlns:layout="www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}" xmlns:sec="www.thymeleaf.org/extras/spring-security">-->

<meta charset="UTF-8">
<title>CodeChef</title>

<!-- 메인에 적용될 CSS -->
<th:block layout:fragment="css"></th:block>
<!-- 메인에 적용될 스크립트 -->
<th:block layout:fragment="script"></th:block>

<body>
  <div layout:fragment="content" class="content">
    <!-- content 부분을 벗어나면 css 적용안됨 -->
    <link rel="stylesheet" th:href="@{/css/search.css}">

    <!-- 검색 영역 -->
    <section class="py-4 text-center container">
      <div class="row py-lg-4">
        <div class="col-lg-9 col-md-8 mx-auto">
          <input class="form-control form-control-lg" type="text" id="search" placeholder="검색어를 입력하세요">
        </div>
        <div class="col-lg-3 col-md-8 mx-auto">
          <a href="#" class="btn btn-search">
            <img src="/images/main/search.png">&nbsp검색
          </a>
        </div>
      </div>
    </section>

    <!-- 카테고리 영역 -->
    <section class="py-3 text-center container">
      <div class="row">
        <ul class="col-lg-9 col-md-6 mx-auto category">
          <li><a href=""><img src="/images/main/korean.png"><span>한식</span></a></li>
          <li><a href=""><img src="/images/main/chinese.png"><span>중식</span></a></li>
          <li><a href=""><img src="/images/main/japanese.png"><span>일식</span></a></li>
          <li><a href=""><img src="/images/main/western.png"><span>양식</span></a></li>
          <li><a href=""><img src="/images/main/allmenu.png"><span>전체</span></a></li>
        </ul>
      </div>
      <hr>
    </section>

    <!-- 식당 영역 -->
    <section class="py-4 container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col" th:each="num : ${#numbers.sequence(1,6)}">
          <div class="card">
            <img src="/images/main/samplechef.jpg">
            <p>Cheese Burger</p>
            <div class="d-flex justify-content-between align-items-center">
              <p class="star">4.6</p>
              <p class="loc">연남</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- 페이지 영역 -->
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item">
          <a class="page-link" href="#">></a>
        </li>
      </ul>
    </nav>
  </div>
</body>
</html>