<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" xmlns:layout="www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}" xmlns:sec="www.thymeleaf.org/extras/spring-security">

<meta charset="UTF-8">
<title>CodeChef</title>

<!-- 메인에 적용될 CSS -->
<th:block layout:fragment="css"></th:block>
<!-- 메인에 적용될 스크립트 -->
<th:block layout:fragment="script"></th:block>

<body>
<div layout:fragment="content" class="content">
  <!-- content 부분을 벗어나면 css 적용안됨 -->
  <link rel="stylesheet" th:href="@{/css/search.css}">

  <!-- 검색 영역 -->
  <section class="py-4 text-center container">
    <div class="row py-lg-4">
      <div class="col-lg-9 col-md-8 mx-auto">
        <input class="form-control form-control-lg" type="text" id="search" placeholder="검색어를 입력하세요">
      </div>
      <div class="col-lg-3 col-md-8 mx-auto">
        <a href="#" class="btn btn-search">
          <img src="/images/main/search.png">&nbsp검색
        </a>
      </div>
    </div>
  </section>

  <!-- 카테고리 영역 -->
  <section class="py-3 text-center container">
    <div class="row">
      <ul class="col-lg-9 col-md-6 mx-auto category">
        <li>
          <!-- 참고: /search?category=한식&keyword= -->
          <a th:href="@{/search(category=한식, keyword='')}">
            <img src="/images/main/korean.png"><span>한 식</span></a>
        </li>
        <li>
          <a th:href="@{/search(category=중식, keyword='')}">
            <img src="/images/main/chinese.png"><span>중 식</span></a>
        </li>
        <li>
          <a th:href="@{/search(category=일식, keyword='')}">
            <img src="/images/main/japanese.png"><span>일 식</span></a>
        </li>
        <li>
          <a th:href="@{/search(category=양식, keyword='')}">
            <img src="/images/main/western.png"><span>양 식</span></a>
        </li>
        <li>
          <!--            <a th:href="@{/search(keyword='')}">-->
          <a th:href="@{/search(category='', keyword='')}">
            <img src="/images/main/allmenu.png"><span>전 체</span></a>
        </li>
      </ul>
    </div>
    <hr>
  </section>

  <!-- 식당 영역 -->
  <section class="py-4 container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <!-- 식당 검색 결과가 없으면 -->
      <!-- pageable 사용하는 경우, 객채 개수는 totalElements를 이용하여 확인  -->
      <div th:if="${resultLists.totalElements == 0}">
        <h5>검색 결과가 없습니다.</h5>
      </div>
      <!-- 식당 검색 결과가 있으면 -->
      <div class="col" th:each="res : ${resultLists}">
        <div class="card">
          <a th:href="@{/detail(chefNo=${res.chefNo})}">
            <img th:src="@{${res.mainImage}}" alt="식당사진">
            <p th:text="${res.resName}">식당명</p>
          </a>
          <div class="d-flex justify-content-between align-items-center">
            <p class="star" th:text="${res.reviewRating}">평점</p>
            <p class="loc" th:text="${res.localArea}">위치</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- 페이지 영역 -->
  <nav aria-label="Page navigation example" th:unless="${resultLists.totalElements == 0}">
    <ul class="pagination justify-content-center">
      <!-- 이전 페이지 링크 -->
      <li class="page-item" th:classappend="${resultLists.number}<=0 ? 'disabled'">
        <a class="page-link" th:href="@{/search(category=${category},keyword=${keyword},page=${resultLists.number-1})}">&lt;</a>
      </li>

      <!-- 페이지 번호 링크 -->
      <th:block th:each="pageNumber : ${pageNum}">
        <li class="page-item" th:classappend="${pageNumber} == ${resultLists.number} ? 'active'">
          <a class="page-link" th:href="@{/search(category=${category},keyword=${keyword},page=${pageNumber})}" th:text="${pageNumber+1}"></a>
        </li>
      </th:block>

      <!-- 다음 페이지 링크 -->
      <li class="page-item" th:classappend="${resultLists.number+1} == ${resultLists.totalPages} ? 'disabled'">
        <a class="page-link" th:href="@{/search(category=${category},keyword=${keyword},page=${resultLists.number+1})}">&gt;</a>
      </li>
    </ul>
  </nav>

  <script th:inline="javascript">
    // 검색 버튼 클릭 이벤트
  $(document).on("click", ".btn-search", function() {
    searchAction();
  });

  // Enter 키 이벤트 추가
  $("#search").on("keypress", function(event) {
    if (event.keyCode === 13) {  // Enter 키 코드 13
      searchAction();
    }
  });

  // 검색 실행 함수
  function searchAction() {
    let inputVal = $("#search").val();
    if (inputVal === "") {
      alert("검색어를 입력하세요");
      $("#search").focus();
      return;
    }
    location.href = "/search?category=&keyword=" + inputVal;
  }
  </script>
</div>
</body>
</html>