<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<!-- Footer라는 이름으로 선언-->
<div th:fragment="footer" class="footer">
    <footer class="text-muted py-5">
        <div class="container">
            <hr>
            <span class="mb-1">
                <span class="logoBox">
                    <img class="logo" src="/images/common/logo_ver2.png" alt="코드요리사 로고" style="width: 30px; height: auto; vertical-align: middle; margin-right: 10px;">
                    &copy; 2024 (주)코드요리사. All rights reserved.
                </span>

            </span> &nbsp;
            <span class="mb-0">궁금한 점이 있으신가요? 고객지원 센터를 이용해주세요</span>
        </div>
    </footer>
</div>