.comment {
            display: flex;
            flex-direction: row;
            padding: 0px;
            width: auto;
            height: 12px;
            font-family: "Pretendard";
            font-style: normal;
            font-weight: 500;
            font-size: 10px;
            line-height: 12px;
            flex: none;
            order: 0;
            flex-grow: 0;
        }

.insert_form {
            flex-direction: column;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 50px;
        }

        input::placeholder {
            color: #D9D9D9;
            width: auto;
            height: 13px;
            font-family: "Source Sans Pro";
            font-size: 11px;
            font-style: normal;
            font-weight: 400;
            line-height: 13px;
            white-space: nowrap;
        }

        .insert {
            box-sizing: border-box;
            position: relative;
            width: 107px;
            height: 43px;
            justify-content: center;
            border: 2px solid #595959;
            border-radius: 16px;
        }

        .insert_title {
            position: absolute;
            width: 70px;
            height: 24px;
            left: 25px;
            top: 9px;
        }

        .insert_layout {
            position : relative;
            width: 404px;
            height: 469px;
            justify-content: center;
        }

        .emailbox {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 5px;
            position: absolute;
            width: 404px;
            height: 54px;
            left: 0px;
            top: 0px;
        }

        .email_name {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 0px;
            gap: 10px;
            width: 37px;
            height: 17px;
            flex: none;
            order: 0;
            flex-grow: 0;
            white-space: nowrap;
        }

        #email {
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 10px 0px 10px 10px;
            gap: 10px;
            width: 320px;
            height: 32px;
            border: 1px solid #D9D9D9;
            border-radius: 10px;
            flex: none;
            order: 1;
            flex-grow: 0;
        }

        .duplicate_btn {
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            align-items: right;
            position: absolute;
            right: 0px;
            gap: 10px;
            background: #FFFFFF;
            border-radius: 10px;
            top: 23px
        }

        .password_box {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px 0px 6px;
            gap: 5px;
            position: absolute;
            width: 404px;
            height: 71px;
            left: 0px;
            top: 74px;
        }

        .password_name {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 0px;
            gap: 10px;
            width: 49px;
            height: 17px;
            flex: none;
            order: 0;
            flex-grow: 0;
            white-space: nowrap;
        }

        #password {
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 10px 0px 10px 10px;
            gap: 10px;
            width: 404px;
            height: 32px;
            border: 1px solid #D9D9D9;
            border-radius: 10px;
            flex: none;
            order: 1;
            flex-grow: 0;
        }

        .repassword_box {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0;
            gap: 5px;
            position: absolute;
            width: 404px;
            height: 54px;
            left: 0px;
            top: 165px
        }

        .repassword_name {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 0px;
            gap: 10px;
            width: 77px;
            height: 17px;
            flex: none;
            order: 0;
            flex-grow: 0;
            white-space: nowrap;
        }

        #repassword {
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 10px 0px 10px 10px;
            gap: 10px;
            width: 404px;
            height: 32px;
            border: 1px solid #D9D9D9;
            border-radius: 10px;
            flex: none;
            order: 1;
            flex-grow: 0;
        }

        .phone_box {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0;
            gap: 5px;
            position: absolute;
            width: 404px;
            height: 54px;
            left: 0px;
            top: 236px
        }

        .phone_no {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 0px;
            gap: 10px;
            width: 77px;
            height: 17px;
            flex: none;
            order: 0;
            flex-grow: 0;
            white-space: nowrap;
        }

        #phone_no {
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 10px 0px 10px 10px;
            gap: 10px;
            width: 404px;
            height: 32px;
            border: 1px solid #D9D9D9;
            border-radius: 10px;
            flex: none;
            order: 1;
            flex-grow: 0;
        }

        .nicknamebox {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 5px;
            position: absolute;
            width: 404px;
            height: 54px;
            left: 0px;
            top: 327px;
        }

        .nickname {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 0px;
            gap: 10px;
            width: 37px;
            height: 17px;
            flex: none;
            order: 0;
            flex-grow: 0;
            white-space: nowrap;
        }

        #nickname {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 10px 0px 10px 10px;
            gap: 10px;
            width: 404px;
            height: 32px;
            border: 1px solid #D9D9D9;
            border-radius: 10px;
            flex: none;
            order: 1;
            flex-grow: 0;
        }

        .insert_btn {
            position: absolute;
            width: 404px;
            height: 35.02px;
            left: 0px;
            top: 414px;
            background: #595959;
            border-radius: 10px;
        }

        #insert_btn {
            position: absolute;
            width: 49px;
            height: 17px;
            left: calc(50% - 49px/2 + 7.0px);
            top: calc(50% - 17px/2 + 0.99px);
            font-family: 'Pretendard';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            color: #FFFFFF;
        }