/* 폰트 관련 궁금사항은 연희님에게 물어보세요 */
/* 폰트 설정 (영문_Source, 한글_Pre) */
@font-face {
    font-family: "SourceSansPro";
    src: url("../fonts/SourceSansPro-Bold.ttf");
}

@font-face {
    font-family: "Pretendard";
    src: url("../fonts/Pretendard-Medium.otf");
}

body, input::placeholder {
    font-family: "SourceSansPro", "Pretendard";
}

/* 공통(전체) 영역 */
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.container {
    max-width: 1116px;
}

/* header 영역 */
.navbar {
    background-color: #404040;
    height: 100px;
}

#logo h4 {
    font-size: 30px;
    color: black;
}

#logo span {
    color: #FFFFFF;
}

#logo img {
    width: 30px;
    height: 30px;
}

.btn-light {
    width: 110px;
    margin: 0 18px 10px 0;
    font-size: 18px;
}

.btn-light img {
    margin-right: 5px;
}

/* footer 영역 */
/* footer 관련 css, 해당 영역에 기재해주세요 */
