/* 메인 css 적용 */
/* btn 공통 */
.btn-search, .btn-login, .btn-signup {
    width: 137px;
    height: 49px;
    background-color: #404040;
    color: #FFFFFF;
    padding: 10px;
}

.btn:hover {
    background-color: #F5F5F5;
}

/* 검색 영역 */
#search {
    border-radius: 8px;
    border: none;
    background: url(/images/main/loc.png) no-repeat 18px #F5F5F5;
    padding-left: 45px;
    font-size: 17px;
}

/* input color 변경불가,, 원인을 찾고 있습니다 */
#search input::placeholder {
	color: #9E9E9E;
}

/* 카테고리 영역 */
.category {
    padding-top: 31px;
    background-image: linear-gradient(to left, #2E2D2D, #BFBFBF);
    border-radius: 10px;
    width: 820px;
    max-width: 100%;
    height: auto;
}

.category > li {
    display: inline-block;
    position: relative;
}

.category > li > a {
    display:block;
    position:relative;
    padding-bottom:19px;
    margin: 10px;
}

.category > li > a > img {
    margin-left: 8px;
}

.category > li > a > span {
    position:absolute;
    bottom:0;
    left:50%;
    color:#ffffff;
    transform:translate(-50%, 0);
}
.col-lg-9 col-md-6 mx-auto category{
    background-color: #404040;
}
.date {
    font-family: "Pretendard";
    font-weight: bold;
    margin: 20px 0 20px 0;
    width: 250px;
    height: 59px;
    border-bottom: 2px solid #D9D9D9;
}
h5 {
 width: 250px;
 height: 100px;
 border-bottom: 2px solid #D9D9D9;
 font-weight : 900;
 text-align: center;
}

.btn-login, .btn-signup {
    width: 250px;
    height: 59px;
    margin: 5px 0 20px 0;
    padding: 15px;

}

.btn-signup {
    background-color: #D9D9D9;
}
.rice {
    margin-right: 10px;
    weight: 27px;
    height: 27px;

}
.nim {
    font-size : 18px;
}
.inline {
  display: inline-block;
  margin: 0; /* 불필요한 여백을 제거하려면 추가 */
}
/* 식당 영역 */
.card {
    border: solid 0px;
}

.card img {
    border-radius: 20px;
    width: 353px;
    max-width: 100%;
    height: auto;
}

.card a {
    text-decoration: none;
    color: #212529;
}

.card > a > p {
    font-size: 20px;
    margin: 10px;
}

.star {
    background: url(/images/main/star.png) no-repeat;
    padding-left: 25px;
}

.loc {
    background: url(/images/main/loc_orange.png) no-repeat 5px;
    padding-left: 25px;
    margin-left: 5px;
    position: relative;
    flex: 1 1 auto;
}

.welcome {
    font-family: 'Pretendard';
    font-style: normal;
    font-size: 20px;
}


