* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SourceSansPro", "Pretendard";
}

body {
  background-color: #f4f4f4;
  width: 100vw;
  padding-top: 0 !important;
}

.content1 {
  display: flex;
  flex-direction: column; /* 세로 정렬 */
  align-items: center; /* 가로 가운데 정렬 */
}

h1 {
  display: block;
  padding: 9px 20px;
  width: 150px;
  font-size: 20px;
  font-weight: bold;
  color: black;
  border: 3px solid #444444;
  border-radius: 17px;
  background-color: #fff;
  text-align: center; /* 텍스트 중앙 정렬 */
  margin: 70px 0; /* 위 아래 여백 추가 */
}

.container1 {
  display: flex;
  flex-direction: row; /* 가로로 나열되도록 설정 */
  justify-content: space-between;
  width: 100%; /* 가로 크기 */
  max-width: 1200px; /* 최대 너비 설정 */
  flex-wrap: nowrap; /* 줄바꿈 없이 가로로 배치 */
  min-width: 1024px; /* 최소 너비 설정 */
}

.left-section, .right-section {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
}

/* 왼쪽 섹션 */
.left-section {
  flex: 1;
  min-width: 300px; /* 최소 너비 */
  max-width: 600px; /* 최대 너비 */
  margin-left: 0;
}

.profile-card {
  background-color: #fff;
  padding: 20px;
  padding-left: 40px;
  border-radius: 10px;
  border: 1px solid #c9c9c9;
  text-align: center;
  display: flex;
  flex-direction: column; /* 세로 정렬 */
  ustify-content: center; /* 세로 중앙 정렬 */
  width: 100%;
  margin-bottom: 40px;
}

.profile-info {
  display: flex;
  align-items: center; /* 수직 중앙 정렬 */
  justify-content: flex-start;;
  text-align: center; /* 텍스트 중앙 정렬 */
  margin: 0; /* 가로 중앙 정렬을 위해 자동 여백 설정 */
  width: 100%; /* 너비 100%로 설정 */
}

.profile-img {
  margin-right: 30px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.user-details {
  text-align: left;
  width: 100%;
}

.username {
  font-weight: bold;
}

.btn.edit-info-btn {
  background-color: #d3d3d3;
  border: none;
  color: #404040;
  padding: 5px 20px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  font-family: 'Pretendard', sans-serif;
  float: left; /* 버튼을 왼쪽으로 정렬 */
}

.btn.edit-info-btn:hover {
  background-color: #979797;
}

.list-header {
  display: flex; /* 수평 정렬을 위한 flexbox 사용 */
  justify-content: space-between; /* 요소 사이에 공간을 evenly 배분 */
  align-items: center; /* 수직 가운데 정렬 */
  margin-bottom: 20px; /* 아래쪽 여백 추가 */
}

.list-header h3 {
  color: #333;
  margin-right: 10px; /* 버튼과의 간격 추가 */
}

.reservation-list, .completed-list {
  border-radius: 10px;
  width: 100%;
  margin-bottom: 40px;
}

.reservation-item {
  background-color: #dfdfdf;
  padding: 15px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  height: 100px;
  margin-bottom: 10px;
  border: 1px solid #c9c9c9;
}

.reservation-date{
    margin-bottom: 0px;
}


.completed-item {
  background-color: #dfdfdf;
  padding: 15px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  margin-bottom: 10px;
  border: 1px solid #c9c9c9;
  display: flex;
  justify-content: space-between; /* 왼쪽의 텍스트와 오른쪽의 평점을 양쪽 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
}

.right-content{
  margin-right: 10px;
  text-align: right;
}

.right-section {
  max-width: 600px; /* 최대 너비 설정 */
  width: 100%;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto; /* 오른쪽 섹션 중앙 정렬 */
}

.review-card {
  display: flex;
  flex-direction: column;
  background-color: #fdfdfd;
  border-radius: 10px;
  align-items: center;
  padding: 15px;
  border: 1px solid #c9c9c9;
  width: 100%;
  margin-bottom: 20px;
}

.review-content {
  width: 100%; /* 콘텐츠 너비를 100%로 확장 */
}

/* 요소 사이의 간격 조정 */
.review-content > * {
    margin-bottom: 10px; /* 각 요소의 아래쪽 여백을 10px로 설정 */
}

.review-content > *:last-child {
    margin-bottom: 0; /* 마지막 요소는 아래 여백을 없앰 */
}

.review-img{
    width: 528px;
    height: 250px;
    object-fit: cover;  /* 비율 유지하며 잘리도록 설정 */
    border-radius: 10px; /* 이미지 테두리 둥글게 */
}

.review-text {
  font-size: 14px;
  text-align: left;
  margin-bottom: 15px;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 10px;
  overflow-wrap: break-word;
}

.btn:hover {
  background-color: #c0c0c0;
}

.btn.more-btn, .btn.more-btn2 {
  background-color: #404040; /* 버튼 배경색 변경 */
  color: #fff; /* 버튼 글자색을 흰색으로 변경 */
  border: none; /* 테두리 없애기 */
  padding: 5px 15px; /* 버튼 안쪽 여백 */
  border-radius: 9px; /* 모서리 둥글게 */
  cursor: pointer; /* 커서가 손 모양으로 변경 */
  font-size: 14px; /* 글자 크기 */
  min-width: 80px; /* 최소 너비 설정 */
  text-align: center; /* 중앙 정렬 */
  white-space: nowrap; /* 줄바꿈 방지 */
}

.btn.more-btn:hover, .btn.more-btn2:hover .btn.letsgomain:hover {
  background-color: #c0c0c0; /* 마우스 오버 시 색상 변경 */
}

.reservation-item2 {
  background-color: #dfdfdf;
  padding: 15px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  height: height: auto;;
  margin-bottom: 10px;
  border: 1px solid #c9c9c9;
  display: flex; /* Flexbox 사용하여 중앙 정렬 */
  flex-direction: column; /* 수직 방향으로 정렬 */
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
}

.reservation-item2 p {
    font-size: 12px; /* 글자 크기 */
    margin-bottom: 5px; /* p 태그 하단 여백 */
    text-align: center; /* 텍스트 중앙 정렬 */
}

.btn.letsgomain{
    display: flex; /* Flexbox 사용 */
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    padding: 5px 15px; /* 버튼 안쪽 여백 */
    border-radius: 9px; /* 모서리 둥글게 */
    cursor: pointer; /* 커서가 손 모양으로 변경 */
    text-align: center; /* 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    white-space: nowrap; /* 줄바꿈 방지 */
    border: none;
    background-color: #000;
    color: #fff;
    width:60%;
    height:80%;
}

.letsgomain h3{
    margin-bottom: 0; /* p 태그 하단 여백 */
}

.completed-item2 {
    background-color: #dfdfdf;
      padding: 15px;
      padding-left: 40px;
      padding-right: 40px;
      border-radius: 10px;
      height: height: auto;;
      margin-bottom: 10px;
      border: 1px solid #c9c9c9;
      display: flex; /* Flexbox 사용하여 중앙 정렬 */
      flex-direction: column; /* 수직 방향으로 정렬 */
      justify-content: center; /* 수평 중앙 정렬 */
      align-items: center; /* 수직 중앙 정렬 */
      text-align: center;
}

.completed-item2 h4{
    margin-bottom: 0;
}