/* 검색 css 적용 */
/* btn 공통 */
.btn-search {
    width: 137px;
    height: 49px;
    background-color: #404040;
    color: #FFFFFF;
    padding: 10px;
}

.btn:hover {
    background-color: #F5F5F5;
}

/* 검색 영역 */
#search {
    border-radius: 8px;
    border: none;
    background: url(/images/main/loc.png) no-repeat 18px #F5F5F5;
    padding-left: 45px;
    font-size: 17px;
}

/* input color 변경불가,, 원인을 찾고 있습니다 */
#search input::placeholder {
	color: #9E9E9E;
}

/* 카테고리 영역 */
.category {
    background-image: linear-gradient(to left, #000000, #666666);
    border-radius: 10px;
    width: 1100px;
    max-width: 100%;
    height: auto;
}

.category > li {
    display: inline-block;
}

.category > li > a {
    display:block;
    position:relative;
    margin: 10px;
}

.category > li > a > img {
    margin: 0px 18px;
    width: 90px;
    opacity: 0.7;
}

.category > li > a > span {
    position:absolute;
    top: 30%;
    left: 48%;
    color: #ffffff;
    transform: translate(-50%, 0);
}

hr {
    margin-left: auto;
    margin-right: auto;
    width: 840px;
}

/* 식당 영역 */
.card {
    border: solid 0px;
}

.card img {
    border-radius: 20px;
    width: 353px;
    max-width: 100%;
    height: auto;
}

.card a {
    text-decoration: none;
    color: #212529;
}

.card > a > p {
    font-size: 20px;
    margin: 10px;
}

.star {
    background: url(/images/main/star.png) no-repeat;
    padding-left: 25px;
}

.loc {
    background: url(/images/main/loc_orange.png) no-repeat 5px;
    padding-left: 25px;
    margin-left: 5px;
    position: relative;
    flex: 1 1 auto;
}

/* 페이지 영역 */
.pagination {
    margin-top: 50px;
}

.page-link {
    color: #1c1c1c;
    border-radius: 6px;
    padding: 7px 16px 10px;
    margin-right: 16px;
    border-color: #1c1c1c;
    font-family: 'Pretendard';
    font-size: 18px;
    font-weight: bold;
}

.page-link:hover {
    z-index: 2;
    color: #fff;
    background-color: #1c1c1c;
    border-color: #1c1c1c;
}

.page-item.active .page-link {
    color: #ffffff;
    background-color: #1c1c1c;
    border-color: #1c1c1c;