a { text-decoration: none; color: black; display: flex; flex-direction: row; }
a:visited {color:black}
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

.content1 ul {width: 900px;display: block;}
.content1 ul li {display: flex; width: 100%;    margin: 10px;}

/* 첫번째 영역 */
.content1 ul li .f {width: 80%; display: flex; border-radius: 20px;border: 2px solid #000;padding: 10px;}
.content1 ul li .f .img {border-radius: 10px; width: 350px; height: 220px; display: block; margin:10px; object-fit: cover;}
/* 두번째 영역 */
.content1 ul li .r {width: 20%;display: flex;align-items: center;justify-content: center;padding-left: 5px;
font-size: 12px;background: #000;border-radius: 20px;color: #fff;text-decoration: none;margin-left: 5px; flex-direction: column;}
.content1 ul li .r p { font-size :25px; margin-top:19px;}
.content1 ul li .r a {display: flex;flex-direction: column;align-items: center;}

    .*{
        font-family: "SourceSansPro", "Pretendard";
    }

    .col {
        display: flex; flex-direction: row;
    }

     .main {
        text-align: center;
        align-item: center;
        justify-content: center;
        display: flex
     }

     .visit_title {
       display: block;
       padding: 9px 20px;
       width: 150px;
       font-size: 20px;
       font-weight: bold;
       color: black;
       border: 3px solid #444444;
       border-radius: 17px;
       background-color: #fff;
       text-align: center; /* 텍스트 중앙 정렬 */
       margin: 70px 0; /* 위 아래 여백 추가 */
     }

     .list_box {
        display: flex;
        justify-content: center;
     }

     .image_box{
        width: 380px;
     }

     .res_info{
        padding-left: 150px;
        margin-top: -15px;
        width : 250px;
        display: flex;
        border-width:60%;
        align-items: flex-start;
        flex-direction: column;
        align-content: center;
        justify-content: center;
     }

     .visit_date{
        padding-top: 15px; !important
        width: 200px;
     }

     .visit_date p{
        margin-bottom: 8px;
     }

     .visit_end_info{
          margin-top: 20px;
          padding-left: 30px;
          width : 280px;
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          align-content: center;
          justify-content: center;
     }

     .visit_end_info h4{
     font-weight:bold;
     }

     .image_box img {
        width: 100%
     }

     .completion {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 5px;
        font-size: 12px;
        background: #fff;
        border: none;
        color: #000;
        text-decoration: none;
        margin-left: 5px;
        flex-direction: column;
     }

     .completion p{
            font-size :25px;
             margin-top:15px;
     }

   .pagination {
       margin-top: 50px;
   }

   .page-link {
       color: #1c1c1c;
       border-radius: 6px;
       padding: 7px 16px 10px;
       margin-right: 16px;
       border-color: #1c1c1c;
       font-family: 'Pretendard';
       font-size: 18px;
       font-weight: bold;
   }

   .page-link:hover {
       z-index: 2;
       color: #fff;
       background-color: #1c1c1c;
       border-color: #1c1c1c;
   }

   .page-item.active .page-link {
       background-color: #000; /* 배경색을 검은색으로 설정 */
       color: #fff; /* 텍스트 색상을 흰색으로 설정 */
       pointer-events: none; /* 클릭 방지 (비활성화 상태) */
       cursor: default; /* 커서 기본 설정 */
       border-color: #1c1c1c;
   }

   .footer a {
       display: inline; /* footer 내부에서는 inline으로 설정하여 줄바꿈 문제 해결 */
       color: black;
       text-decoration: none;
   }

    .list_box2 {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        flex-direction: column; /* 세로로 배치 */
        align-items: center; /* 수평 중앙 정렬 */
        text-align: center;
    }

