a { text-decoration: none; color: black; } a:visited {color:black}
    a:hover { text-decoration: none; }    a:focus { text-decoration: none; }    a:hover, a:active { text-decoration: none; }

     .content ul {width: 900px;display: block;}
     .content ul li {display: flex; width: 100%;    margin: 10px;}
     /* 첫번째 영역 */
     .content ul li .f {width: 80%;display: flex;border-radius: 20px;border: 1px solid #000;padding: 10px;}
     .content ul li .f img {border-radius: 10px;display: block;}
     .content ul li .f p {font-size: 14px;padding: 0;margin: 0;}
     .content ul li .f p2 {display: block;}
     /* 두번째 영역 */
     .content ul li .r {width: 20%;display: flex;align-items: center;justify-content: center;padding-left: 5px;
     font-size: 12px;background: #000;border-radius: 20px;color: #fff;text-decoration: none;margin-left: 5px; flex-direction: column;}
     .content ul li .r img {width: 40%;display: block;}
     .content ul li .r p3 {}
     .content ul li .r a {display: flex;flex-direction: column;align-items: center;}
     .completion {width: 20%;display: flex;align-items: center;justify-content: center;padding-left: 5px;
           font-size: 12px;background: #fff;border-radius: 20px;color: #000;text-decoration: none;margin-left: 5px; flex-direction: column;
           }



     .main {
        text-align: center;
     }

     .visit_title {
        padding:5px 10px;
        border-radius: 20px;
        margin-top: 70px;
        border: 1px solid #000;
        display: inline-block;
     }

     .list_box {
        margin-top: 50px;
        display: flex;
        justify-content: center;
     }

     .image_box{
        width: 40%;
     }

     .res_info{
        padding-left: 160px;
        display: flex;
        border-width:60%;
        align-items: flex-start;
        flex-direction: column;
        align-content: center;
        justify-content: center;
     }

     .visit_date{
        font-size: 11px;
        padding-top: 10px;
     }

     .image {
        width: 350px;
        height: 250px;
     }

     .pagination {
        display: flex;
        justify-content: center;
        padding-left: 0;
        list-style: none;
     }

     .page-link {
         color: #1c1c1c;
         border-radius: 6px;
         padding: 7px 16px 10px;
         margin-right: 16px;
         border-color: #1c1c1c;
         font-family: 'Pretendard';
         font-size: 18px;
         font-weight: bold;
     }

     .page-link:hover {
         z-index: 2;
         color: #fff;
         background-color: #1c1c1c;
         border-color: #1c1c1c;
     }

     #search {
         border-radius: 8px;
         border: none;
         background: url(/images/main/loc.png) no-repeat 18px #F5F5F5;
         padding-left: 45px;
         font-size: 17px;
     }